<main role="main">
  
  <div class="jumbotron">
    <dic class="row">
      <div class="col-md-4">
        <h1 class="display-3">Helloworld!</h1>
        <p class="jum-p">あなたも投票しませんか (仮）</p>
      </div>
    </div>
  </div>

  <div class="second-container">
    <dic class="row">
      <div class="col-md-12">
        <ul class="menu">
          <li><%= link_to "ニュース一覧",       news_topics_path %></li>
          <li><%= link_to "トピックス",         root_path %></li>
          <li><%= link_to "天気",              root_path %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <% @news_topics.each do |n| %>
      <div class="col-md-6">
        <div class="main-container">
          <div class="row">
            <div class="col-md-12">
             <div class="news">
              <p><%= n.title %></p>
             </div>
             <div class="news-body">
              <%= n.content %>
             </div>
            </div>
            <% if logged_in? && current_user.admin? %>
              <P><a class="btn btn-secondary"><%= link_to "記事を読む",  news_topic_path(n.id) %>&raquo;</p></a>
            <% elsif logged_in? %>
              <P><a class="btn btn-secondary"><%= link_to "記事を読む",  news_topic_path(n.id) %>&raquo;</p></a>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

