<header class="navbar navbar-fixed-top navbar-inverse">
  <nav class="navbar navbar-light bg-light navbar-custom"> 
    <%= link_to "ロゴ", root_path, id: "logo" %>
      <ul class="nav navbar-nav navbar-right navbar-custom">
        <li><%= link_to "Top",          root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "ユーザー",       users_path %></li>
          <li><%= link_to "内容修正",       edit_user_path(current_user) %></li>
        <% else %>
          <li><%= link_to "新規登録",       signup_path %></li>
        <% end %>
        <% if logged_in? %>
          <li><%= link_to "ログアウト",     logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "ログイン",       login_path %></li>
        <% end %>
    </ul>
  </nav>
</header>